<div class="title-box">
  <div class="container">
    <div class="box">The Tech Blog</div>
  </div>
</div>
<p id="user-welcome" data-user-id="{{user.id}}">{{user.username}}</p>
<div class="all-posts">
  <div class="container">
  {{#if posts.length}}

  {{#each posts as |post| }}
  <div class="card" id="{{post.id}}">
    <div class="title">
      <h2> {{post.title}} </h2>
      <p> Posted by {{ blog_user.username }} on {{format_date post.date_created}}</p>
    </div>
    <div class="content">
      <p> {{post.content}} </p>
    </div>
    <div class="comments">
      {{#each comments as |comment|}}
        <div class="comment">
          <p class="comment-content">{{comment.content}}</p>
          {{#if blog_user.username}}
          <p class="user-comment">-{{blog_user.username}}, {{format_date comment.date_created}}</p>
          {{else}}
          <p class="user-comment">-anonymous, {{format_date comment.date_created}}</p>
          {{/if}}
        </div>
      {{/each}}

      <div class="comment-box" data-post-id="{{post.id}}">
        <label for="comment-text-{{post.id}}">Comment</label>
        <input type="text" class="comment-content" id="comment-input-post{{post.id}}">
        <button class="comment-btn" data-post-id="{{post.id}}">submit</button>
      </div>
    </div>
    
  </div>
  {{/each}}

  {{/if}}
  </div>
</div>

<script src="./js/homepage.js"></script>






